<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- Basic -->
    	<meta charset="UTF-8" />
		<!-- Mobile Metas -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% include 'a_base_title.html' %}
        <!-- Favicon -->
        {% include 'a_base_sortcut.html' %}
        <!-- Css -->
        {% include 'a_base_css.html' %}
    </head>
    <body>
        {% include 'a_base_sidebar.html' %}
        {% include 'a_base_header.html' %}

        <div class="container-fluid content">
			<div class="row">
				<div class="main">
                    <div class="page-header">
                        <div class="pull-left">
                        </div>
                        <div class="pull-right">
                            <h2>部门管理</h2>
                        </div>
                    </div>

                    <!-- 主空间 -->
                    <div class="row">
						<div class="col-sm-12">
							<div class="panel">
								<div class="panel-body">
                                    <div id="toolbar">
                                        <button type="button" class="bk-margin-5 btn-sm btn-default" id="btn-dept-add"><i class="fa fa-plus"></i> 添加</button>
                                    </div>
									<div class="table-responsive">
                                        <table id="table"></table>
                                    </div>
								</div>
							</div>
						</div>
					</div>

                    <!-- 主空间 End -->
				</div>
            </div>
            <div class="modal fade" id="deptModal" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title bk-fg-primary">
                                <span id="dept-opt-add">新增部门</span>
                                <span id="dept-opt-edit">修改部门</span>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group" id="form-group-dept-id">
                                    <label class="col-lg-2 col-md-2 col-sm-12 control-label">部门编号</label>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="text" class="form-control" id="dept-id">
                                    </div>
                                </div>
                                <div class="form-group" id="form-group-dept-name">
                                    <label class="col-lg-2 col-md-2 col-sm-12 control-label">部门名称</label>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="text" class="form-control" id="dept-name">
                                        <span class="help-block" id="dept-name-exists">部门名称已存在</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="btn-dept-save">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Js -->
        {% include 'a_base_js.html' %}
    </body>
    <script>
        $('#table').bootstrapTable({
            toolbar: '#toolbar',
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 25,                       //每页的记录行数（*）
            pageList: [25, 50],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            {#height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度#}
            uniqueId: "dept_id",                     //每一行的唯一标识，一般为主键列
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表

            columns: [
                {
                    field: 'dept_id',
                    title: '编号'
                },
                {
                    field: 'dept_name',
                    title: '部门名称'
                },
                {
                    field: 'dept_manage_user',
                    title: '部门负责人'
                },
            ],
            onClickRow:function(row, $element, field)
            {
                 rowClick(row, $element, field);
            }
        });
        var url = location.href;
        var opt = '';
        init();
        $('#btn-dept-add').click(function (t) {
            opt = 'post';
            {#t.preventDefault();#}
            $('#dept-opt-add').show();
            $('#dept-opt-edit').hide();
            $('#form-group-dept-id').hide();
            $('#dept-name').val('')
            $('#dept-id').val('')
            $('#deptModal').modal('show')
        });
        $('#dept-name').on('input propertychange',function(){
            if($('#dept-name').val() == ''){
                $('#btn-dept-save').attr('disabled', true);
            }
            else{
                $.ajax({
                    url: url,
                    dataType: 'json',
                    type: 'POST',
                    async: true,
                    data: {'opt': 'check', 'dept_name': $('#dept-name').val(), 'dept_id': $('#dept-id').val()},
                    success: function(req){
                        if(req.status != 'ok'){
                            $('#form-group-dept-name').addClass('has-error')
                            $('#dept-name-exists').show();
                            $('#btn-dept-save').attr('disabled', true);
                        }
                        else{
                            $('#form-group-dept-name').removeClass('has-error')
                            $('#dept-name-exists').hide();
                            $('#btn-dept-save').attr('disabled', false);
                        }
                    },
                    error: function(){

                    },
                });
            }
        });
        $('#btn-dept-save').click(function(t) {
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'POST',
                async: true,
                data: {'opt': opt, 'dept_name': $('#dept-name').val(), 'dept_id': $('#dept-id').val()},
                success: function(req){
                    $('#deptModal').modal('hide');
                    init();
                },
                error: function(){

                },
            });
        });
        function getTableAll(){
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'POST',
                async: true, //请求是否异步，默认为异步，这也是ajax重要特性
                data: {'opt': 'get'},
                success: function (data){
                    $('#table').bootstrapTable('load', data);
                },
                error: function (){

                },
            })
        }
        function init(){
            getTableAll();
            $('#dept-name-exists').hide();
            $('#btn-dept-save').attr('disabled', true);
        }
        function rowClick(row, $element, field){
            var dept_id = row.dept_id;
            var dept_name = row.dept_name
            opt = 'put';
            $('#dept-opt-add').hide();
            $('#dept-opt-edit').show();
            $('#form-group-dept-id').show();
            $('#form-group-dept-name').removeClass('has-error');
            $('#dept-name-exists').hide();
            $('#dept-id').attr('readonly', true);
            $('#dept-id').val(dept_id);
            $('#dept-name').val(dept_name);

            $('#deptModal').modal('show');
        }
    </script>
</html>
