{% load static %}
        <!-- start: JavaScript-->
		
		<!-- Vendor JS-->				
		<script src="{% static 'vendor/js/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/js/jquery-2.1.1.min.js' %}"></script>
		<script src="{% static 'vendor/js/jquery-3.4.1.min.js' %}"></script>
		<script src="{% static 'vendor/js/jquery-migrate-1.2.1.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap-table/js/bootstrap-table.js' %}"></script>
		<script src="{% static 'vendor/bootstrap-table/js/bootstrap-table-zh-CN.js' %}"></script>
		<script src="{% static 'vendor/bootstrap-table/js/bootstrap-table-fixed-columns.js' %}"></script>
		<script src="{% static 'vendor/bootstrap-table/js/bootstrap-table-mobile.min.js' %}"></script>
{#		<script src="{% static 'vendor/bootstrap-table/js/bootstrap-table-export.js' %}"></script>#}
{#		<script src="{% static 'vendor/bootstrap-table/js/tableExport.js' %}"></script>#}
		<script src="{% static 'vendor/skycons/js/skycons.js' %}"></script>
		
		<!-- Plugins JS-->		
		<script src="{% static 'plugins/jquery-ui/js/jquery-ui-1.10.4.min.js' %}"></script>
		<script src="{% static 'plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
		<script src="{% static 'plugins/bootkit/js/bootkit.js' %}"></script>
		<script src="{% static 'plugins/moment/js/moment.min.js' %}"></script>

		<script src="{% static 'plugins/dropzone/js/dropzone.min.js' %}"></script>
		<script src="{% static 'plugins/fullcalendar/js/fullcalendar.min.js' %}"></script>
		<script src="{% static 'plugins/summernote/js/summernote.js' %}"></script>
		<script src="{% static 'plugins/bootstrap-markdown/js/bootstrap-markdown.js' %}"></script>
		<script src="{% static 'plugins/bootstrap-markdown/js/markdown.js' %}"></script>
		<script src="{% static 'plugins/bootstrap-markdown/js/to-markdown.js' %}"></script>
		<script src="{% static 'plugins/touchpunch/js/jquery.ui.touch-punch.min.js' %}"></script>
		<script src="{% static 'plugins/flot/js/jquery.flot.min.js' %}"></script>
		<script src="{% static 'plugins/flot/js/jquery.flot.pie.min.js' %}"></script>
		<script src="{% static 'plugins/flot/js/jquery.flot.resize.min.js' %}"></script>
		<script src="{% static 'plugins/flot/js/jquery.flot.stack.min.js' %}"></script>
		<script src="{% static 'plugins/flot/js/jquery.flot.time.min.js' %}"></script>
		<script src="{% static 'plugins/xcharts/js/xcharts.min.js' %}"></script>
		<script src="{% static 'plugins/autosize/jquery.autosize.min.js' %}"></script>
		<script src="{% static 'plugins/placeholder/js/jquery.placeholder.min.js' %}"></script>
		<script src="{% static 'plugins/datatables/js/dataTables.bootstrap.min.js' %}"></script>
		<script src="{% static 'plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'plugins/raphael/js/raphael.min.js' %}"></script>
		<script src="{% static 'plugins/morris/js/morris.min.js' %}"></script>
		<script src="{% static 'plugins/gauge/js/gauge.min.js' %}"></script>
		<script src="{% static 'plugins/d3/js/d3.min.js' %}"></script>
{#		<script src="{% static 'plugins/excel/xlsx.core.min.js' %}"></script>#}
{#		<script src="{% static 'plugins/filesaver/FileSaver.js' %}"></script>#}
		<script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-timepicker/js/bootstrap-timepicker.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-table-treegrid/js/bootstrap-table-treegrid.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-table-treegrid/js/jquery.treegrid.min.js' %}"></script>
		<script src="{% static 'plugins/maskedinput/js/jquery.maskedinput.js' %}"></script>
		
		<!-- Theme JS -->		
		<script src="{% static 'js/jquery.mmenu.min.js' %}"></script>
		<script src="{% static 'js/core.min.js' %}"></script>
		
		<!-- Pages JS -->
		<script src="{% static 'js/pages/index.js' %}"></script>
        <script src="{% static 'js/pages/page-login.js' %}"></script>
		<script src="{% static 'js/pages/form-elements.js' %}"></script>
		<script src="{% static 'js/pages/buttons.js' %}"></script>
		<!-- end: JavaScript-->