{% load static %}
<div class="menu">
    <div class="menu_top">
        <div class="menu_system_name">
            <img src="{% static 'pic/system-logo.png' %}" class="menu_top_system_logo">
            <div class="menu_top_system_name">
                <div>
                    {{ system_name }}
                </div>
            </div>
        </div>
    </div>
    <div class="menu_user">
        <div class="pos_relative">
            {{ request.user.username }}
        </div>
    </div>
    <div class="menu_middle">
        <div id="menu_middle_list" class="menu_middle_list">
            {% for perm_item1 in request.user.permission %}
                {% if perm_item1.has_child %}
                        <h3  class="menu_middle_list_head ">{{ perm_item1.title }}</h3>
                        <div style="display:none" class="menu_middle_list_nva">
                            {% for perm_item2 in perm_item1.child %}
                                <a href="{{ root_url }}{{ perm_item2.url }}">{{ perm_item2.title }}</a>
                            {% endfor %}
                        </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="menu_bottom">
        <div class="menu_hide">
            <a class="switch pull-right tip-control close" data-step="8" data-intro="关闭，展开左边菜单" data-position="top" href="javascript:void(0);" title="" data-original-title="隐藏菜单"> <i class="fa fa-angle-left"></i> </a>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script>
    $(document).ready(function(){
        {#$("#menu_middle_list .menu_middle_list_nva:eq(0)").show();#}
        $("#menu_middle_list h3.menu_middle_list_head").click(function(){
            $(this).addClass("current").next("div.menu_middle_list_nva").slideToggle(200).siblings("div.menu_middle_list_nva").slideUp("slow");
            $(this).siblings().removeClass("current");
        });
        $("#menu_middle_list0 .menu_middle_list_nva:eq(0)").show();
        $("#menu_middle_list0 h3.menu_middle_list_head").mouseover(function(){
            $(this).addClass("current").next("div.menu_middle_list_nva").slideDown(400).siblings("div.menu_middle_list_nva").slideUp("slow");
            $(this).siblings().removeClass("current");
        });
    });
</script>