<!DOCTYPE html>
    <html lang="zh-CN">
    {% load static %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% include 'a_base_title.html' %}
        {% include 'a_base_css_pc.html' %}
    </head>

    <body class="home">
        <!-- 左边菜单 -->
        {% include 'a_base_menu_t.html' %}
        <!-- 右边公共部分 -->
        <div id="panel" class="main_panel">
{#            <div class="main_panel2">#}
{#            </div>#}
            {{ request.user.device_type }}
            {{ request.user.browser_type }}
        </div>
    </body>
</html>