<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link  rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen" type="text/css">
    <link  rel="stylesheet" href="/static/css/default.css" media="screen" type="text/css">
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'jquery.cookie.js' %}"></script>
    <script>
        $(function () {

             $("#selectd").change(function () {
{#                var form_data=new FormData();#}
                var productid=$(this).val();
{#                alert(productid);#}
{#                form_data.append("file",file_info);#}
                $.ajax({
{#                    async:true,#}
                    url:"/banben/",
                    data:{"productid":$(this).val()},
                    type:"GET",

{#                    headers:{'X-CSRFTOKEN':$.cookie('csrftoken')},#}
{#                    data:form_data,#}
                    dataType: 'json',
{#                    processData:false,#}
{#                    contentType:false,#}
                    success:function (data) {
                        var content='';
                        $.each(data, function(i, item){
                         content+='<option value='+item.vid+'>'+item.vnumber+'</option>'
                                     });
                        $('#select2').html(content)

                    }
                });

            })
        });
    </script>
</head>
<body><div class="container">
<div class="bs-component">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/index/">主页</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Link</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Search" type="text">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#"  ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ request.user.first_name}}</font></font></a>
                                </li>

                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>

                                    <a href="#" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ request.user.last_name}}</font></font></a>


                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

<div class="well bs-component container" style="width: 750px">
                <form class="form-horizontal" action="/upmatter/{{ matter.mid }}/" method="post" >
                {% csrf_token %}


                    <fieldset>
                        <legend><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">编辑产品问题</font></font></legend>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">问题标题</font></font></label>

                            <div class="col-lg-10">
                                <select name="proid" class="form-control   " >
                                            <option value="{{ matter.mtitle }}" selected="selected">{{ matter.mtitle }}</option>
                            </select>


                            </div>
                        </div>

                    <div class="form-group">
                            <label for="select" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">所属产品</font></font></label>

                            <div class="col-lg-10">
                                <select name="pid" class="form-control   " >
                                {% for pp in productlist %}
                                        {% if  pp.pid  == matter.pid %}
                                            <option value="{{ pp.name }}" selected="selected">{{ pp.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                        </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">产品版本号</font></font></label>

                            <div class="col-lg-10">
                                <select name="pid" class="form-control   " >
                                {% for pp in pversionlist %}
                                        {% if  pp.vid  == matter.pversion_id %}
                                            <option value="{{ pp.vnumber }}" selected="selected">{{ pp.vnumber }}</option>
                                    {% endif %}
                                    {% endfor %}
                        </select>
                            </div>
                        </div>
                    <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">产品模块</font></font></label>

                            <div class="col-lg-10">

                                <select name="model" class="form-control   " >
                                            <option value="{{ matter.model }}" selected="selected">{{ matter.model }}</option>
                            </select>

                            </div>
                        </div>
                    <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">严重程度</font></font></label>

                            <div class="col-lg-10">
                                <select name="extent" class="form-control   " >
                                            <option value="{{ matter.extent }}" selected="selected">{{ matter.extent }}</option>
                            </select>

                            </div>
                        </div>
                    <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">要求解决日期</font></font></label>

                            <div class="col-lg-10">
                                <select name="solvedate" class="form-control   " >
                                            <option value="{{ matter.solvedate |date:'Y-m-d' }}" selected="selected">{{ matter.solvedate |date:'Y-m-d' }}</option>
                            </select>

                            </div>
                        </div>



                    <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">问题描述</font></font></label>

                            <div class="col-lg-10">

                                <span class="help-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ matter.describe }}</font></font></span>
                            </div>
                        </div>
                    <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">提出项目组</font></font></label>

                            <div class="col-lg-10">
                            <select name="proid" class="form-control   " >
                                    {% for pp in projectlist %}
                                        {% if  pp.id  == matter.proid %}
                                            <option value="{{ pp.id }}" selected="selected">{{ pp.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                            </select>
                            </div>
                        </div>
                    <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">问题提交人</font></font></label>

                            <div class="col-lg-10">
                            <select name="quid" class="form-control   " >
                                {% for pp in userlist %}
                                        {% if  pp.id  == matter.quid %}
                                            <option value="{{ pp.id }}" selected="selected">{{ pp.first_name }}</option>
                                    {% endif %}
                                    {% endfor %}



                            </select>
                            </div>
                        </div>
                    <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">解决人</font></font></label>

                            <div class="col-lg-10">
                            <select name="ruid" class="form-control   " >
                            <option value="" selected="selected">选择解决人</option>
                                {% for pp in userlist %}

                                            <option value="{{ pp.id }}" >{{ pp.first_name }}</option>

                                    {% endfor %}

                            </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">消缺版本号</font></font></label>

                            <div class="col-lg-10">
                                <select  class="form-control " name="nvnumber" id="selectd">
                                <option value="" >请选择版本号</option>
                            {% for pp in pversionlist %}
                                {% if  pp.product_id  == matter.pid %}
                                            <option value="{{ pp.vid }}" >{{ pp.vnumber }}</option>
                                    {% endif %}

                            {% endfor %}
                        </select>
                            </div>
                        </div>
                    <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">解决说明</font></font></label>

                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textArea" name="mexplain"></textarea>
                                <span class="help-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">问题说明，200字符以内。</font></font></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">

                                <button type="submit" class="btn btn-primary"><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">提交问题</font></font></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
</div>
</body>
</html>
