<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>主页</title>
        {% include 'a_base_css_pc.html' %}
    </head>
    <body ng-app="app" id="app" ng-controller="AppCtrl" class="ng-scope">
        <!-- 头部导航 -->
        {% include 'a_base_top.html' %}
        <!-- 左边菜单 -->
        {% include 'a_base_menu.html' %}
        </div>
        <!-- 右边公共部分 -->
        <div id="dowebok" style="padding-left:70px;margin-top:60px;">
            <div ng-view="" class="work_cont work_cont2">
                <div class="main ng-scope" ng-controller="OverViewCtrl">
                    <table class="table table-hover table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th >问题标题</th>
                                <th >所属产品</th>
                                <th>产品版本号</th>
                                <th>产品模块</th>
                                <th>严重程度</th>
                                <th>要求解决日期</th>
                                <th>问题描述</th>
                                <th>提出项目组</th>
                                <th>问题提交时间</th>
                                <th>问题提交人</th>
                                <th>问题状态</th>
                                <th>解决人</th>
                                <th>消缺版本号</th>
                                <th>解决说明</th>
                                <th>实际解决日期</th>
                                <th >确认日期</th>
                                <th >操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for gg in matterlist %}
                            <tr>
                                <td>{{ gg.mtitle }}</td>
                            <td>{% for dd in productlist %}
                                    {% if dd.pid == gg.pid %}
                                        {{ dd.name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for dd in pversionlist %}
                                    {% if dd.vid == gg.pversion_id %}
                                        {{ dd.vnumber }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ gg.model }}</td>
                            <td>{{ gg.extent }}</td>
                            <td>{{ gg.solvedate |date:'Y-m-d' }}</td>
                            <td>{{ gg.describe }}</td>
                            <td>{% for dd in projectlist %}
                                    {% if dd.id == gg.proid %}
                                        {{ dd.name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ gg.mdate |date:'Y-m-d H:i:s' }}</td>
                            <td>{% for dd in userlist %}
                                    {% if dd.id == gg.quid %}
                                        {{ dd.first_name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><a  class="btn btn-success">{{ gg.state }}</a></td>
                            <td>{% for dd in userlist %}
                                    {% if dd.id == gg.ruid %}
                                        {{ dd.first_name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{% for ppd in pversionlist %}
                                    {% if gg.nvnumber == ppd.vid %}
                                        {{ ppd.vnumber }}
                                    {% endif %}
                                {% endfor %}
                                </td>
                            <td>{{ gg.mexplain }}</td>
                            <td>{{ gg.sdate |date:'Y-m-d H:i:s' }}</td>
                            <td>{{ gg.qdate |date:'Y-m-d H:i:s'}}</td>
                            <td style="line-height: 40px">
                                {% ifequal gg.state '已确认' %}
                                    <a href="" class="btn btn-primary" style="background-color: #1abc9c;
            border-color: #1abc9c">已经确认</a>
                                    </td>
                                {% else %}
                                    <a href="{{ root_url }}/fenpeimatter/{{ gg.mid }}/" class="btn btn-primary" style="background-color: #1abc9c;
            border-color: #1abc9c">添加解决人</a>
                                    </td>
                                {% endifequal %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>