<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>主页</title>
        {% include 'a_base_css_pc.html' %}
    </head>

    <body ng-app="app" id="app" ng-controller="AppCtrl" class="ng-scope">
        {% include 'a_base_top.html' %}
        <!-- 左边菜单 -->
        {% include 'a_base_menu.html' %}
        <!-- 右边公共部分 -->
        <div id="dowebok" style="padding-left:70px;margin-top:60px;">
            <div ng-view="" class="work_cont work_cont2">
                <div class="main ng-scope" ng-controller="OverViewCtrl">
                    <table class="table table-hover table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>部门名称</th>
                            <th>部门经理</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for gg in deptdlist %}
                            <tr>
                                <td>{{ gg.deptname }}</td>

                                <td>{% for dd in userlist %}
                                    {% if dd.id == gg.user_id %}
                                        {{ dd.first_name }}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                            <th><a href="{{ root_url }}/updept/{{ gg.deptid }}/" class="btn btn-primary" style="background-color: #1abc9c;
            border-color: #1abc9c">修改</a></th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>