<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% load static %}
        <title>主页</title>
        {% include 'a_base_css_pc.html' %}
        <script type="text/javascript">
            onload=function(){
                setInterval(go, 1000);
            };
            var x=1; //利用了全局变量来执行
            function go(){
            x--;
                if(x>0){
                document.getElementById("sp").innerHTML=x;  //每次设置的x的值都不一样了。
                }else{
                location.href='{{ root_url }}/appdept/';
                }
            }
        </script>
    </head>

    <body ng-app="app" id="app" ng-controller="AppCtrl" class="ng-scope">
        <!-- 头部导航 -->
        {% include 'a_base_top.html' %}
        <!-- 左边菜单 -->
        <div class="nav_cont flex-container" style="display: block;">

        </div>
        <!-- 右边公共部分 -->
        <div id="dowebok" style="padding-left:70px;margin-top:60px;">
           <div ng-view="" class="work_cont work_cont2">
               <div class="main ng-scope" ng-controller="OverViewCtrl">
                   <div class="panel panel-primary" style="width: 280px;height:120px;position: relative;left: 38%;top:20%">
                        <div class="panel-heading">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="panel-body">
                            <font style="font-size: 40px;color: #f39c12;text-align: center">恭喜注册成功</font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>