<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>主页</title>
        {% include 'a_base_css.html' %}

    </head>

    <body ng-app="app" id="app" ng-controller="AppCtrl" class="ng-scope">
    <!-- 头部导航 -->
    {% include 'a_base_top.html' %}
    <!-- 左边菜单 -->
    {% include 'a_base_menu.html' %}
    <!-- 右边公共部分 -->
    <div id="dowebok" style="padding-left:70px;margin-top:60px;">

    <div ng-view="" class="work_cont work_cont2"><div class="main ng-scope" ng-controller="OverViewCtrl">



        <div class="well bs-component container" style="width: 650px">
                <form class="form-horizontal" action="{{ root_url }}/upproject/{{ project.id }}/" method="post">
                {% csrf_token %}

                    <fieldset>
                        <legend><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">修改项目</font></font></legend>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">项目名称</font></font></label>

                            <div class="col-lg-10">
                                <input name="name" class="form-control" id="inputEmail"  value="{{ project.name }}" type="text">

                            </div>
                        </div>
                    <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">合同金额(万元)</font></font></label>

                            <div class="col-lg-10">
                                <input name="price" class="form-control" id="inputEmail"  value="{{ project.price }}" type="text">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">所属部门</font></font></label>

                            <div class="col-lg-10">
                                <select name="deptid" class="form-control   " id="select">

                            {% for dd in deptdlist %}
                                 {% if  dd.deptid  == project.deptd_id %}
                                    <option value="{{ dd.deptid }}" selected="selected">{{ dd.deptname }}</option>
                                    {% else %}
                                        <option value="{{ dd.deptid }}" >{{ dd.deptname }}</option>
                                    {% endif %}


                            {% endfor %}
                        </select>
                            </div>
                        </div>
                    <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">开发工作量(天)</font></font></label>

                            <div class="col-lg-10">
                                <input name="day" class="form-control" id="inputEmail"  value="{{ project.day }}" type="text">

                            </div>
                        </div>
                    <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">缺陷数(个)</font></font></label>

                            <div class="col-lg-10">
                                <input  class="form-control" id="inputEmail"   type="text">

                            </div>
                        </div>

                    <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">项目描述</font></font></label>

                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textArea" name="describe">{{ project.describe }}</textarea>
                                <span class="help-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">描述产品功能，详情等，500字符以内。</font></font></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">

                                <button type="submit" class="btn btn-primary" style="background-color: #1abc9c;
    border-color: #1abc9c"><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">修改项目</font></font></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>



</div></div>
</div>













</body>
</html>