<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>联友采购平台</title>
        <!--@*1、Jquery组件引用*@-->
        <script src="/static/js/jquery/jquery-3.4.1.min.js"></script>
        <!--@*2、bootstrap组件引用*@-->
        <script src="/static/js/bootstrap/js/bootstrap.js"></script>
        <link href="/static/js/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" media="screen" href="/static/css/login/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/login/reset.css"/>
        <script src="/static/js/cgPlatform.js"></script>
    </head>
    <body>
        <div id="particles-js">
            <div class="company-logo">
                <img src="/static/img/logo/LY-logo.jpg">
            </div>
            <div class="user-info">
                <label class="user-info-label">用户名称：</label><label class="user-info-label-value" id="user-name"></label>
                <label class="user-info-label">公司编号：</label><label class="user-info-label-value" id="company-id"></label>
                <label class="user-info-label">公司名称：</label><label class="user-info-label-value" id="company-name"></label>
                <input class="user-info-logout" type="submit" value="退出登录" onclick="userLogout()">
            </div>
            <div>
                <ul class="menu">
                <li><a href="/main">首页</a></li>
                <li><a href="/cg/shd/editshd">录入送货单</a></li>
                </ul>
            </div>
        </div>
        <script>
            // 加载完成后执行
			$(document).ready(function () {
				getUserInfo();
			})
        </script>
    </body>
</html>
<script type="text/javascript" src="/static/js/keepAlive.js"></script>