<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>联友采购平台</title>
        <!--@*1、Jquery组件引用*@-->
        <script src="/static/js/jquery/jquery-3.4.1.min.js"></script>
        <!--@*2、bootstrap组件引用*@-->
        <script src="/static/js/bootstrap/js/bootstrap.js"></script>
        <link href="/static/js/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <!--@*3、bootstrap table组件以及中文包的引用*@-->
        <script src="/static/js/bootstrap-table/bootstrap-table.js"></script>
        <link href="/static/js/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
        <script src="/static/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
        <link rel="stylesheet" media="screen" href="/static/css/login/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/login/reset.css"/>
        <script src="/static/js/mydate/mydate.js"></script>
        <link rel="stylesheet" href="/static/js/mydate/mydate.css">

    </head>

<body>
    <input id="kk" type="text" onchange="showkk()">
    <input type="submit" value="获取时间" onclick="showkk()">
    <div class="table-box" style="margin: 20px;">
        <div id="toolbar">
            <button id="button" class="btn btn-default">insertRow</button>
            <button id="getTableData" class="btn btn-default">getTableData</button>
        </div>
        <table id="table"></table>
    </div>
</body>

<script type="text/javascript">
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    let $kk = $('#kk');
    let $btn0 = $('#button');
    let $table = $('#table');
    let $getTableData = $('#getTableData');

    //模拟数据
    var tableData = [
        { "id": 1, "name": "Item 1", "price": "￥1" },
        { "id": 2, "name": "Item 2", "price": "￥2" },
        { "id": 3, "name": "Item 3", "price": "￥3" }
    ]

    $kk.click(function () {
        MyDatePick();
        showTable({});
    })

    $btn0.click(function () {
        showTable(tableData);
    })

    $getTableData.click(function() {
        alert(JSON.stringify($table.bootstrapTable('getData')));
        });

    function showkk(){
        alert(document.getElementById("kk").value.replaceAll('/', ''));
    }

    $(function () {
        var date = new Date().Format("yyyy/MM/dd");
        document.getElementById("kk").value = date;
        showTable({})
    })

    function showTable(data) {
        $table.bootstrapTable('destroy');
        $table.bootstrapTable({
            data: data,
            //toolbar: '#toolbar',
            clickEdit: false,
            showToggle: false,
            pagination: false,       //显示分页条
            showColumns: true,
            showPaginationSwitch: false,     //显示切换分页按钮
            showRefresh: false,      //显示刷新按钮
            columns: [
                {field: 'id', title: 'Item ID'},
                {field: 'name',title: 'Item Name'},
                {field: 'price',title: 'Item Price'},
                ],
            onClickCell: function (field, value, row, $element) {
                if(field==="price"){
                    $element.attr('contenteditable', true);
                    $element.blur(function () {
                        let index = $element.parent().data('index');
                        let tdValue = $element.html();
                        saveData(index, field, tdValue);
                    })
                }
            }
        });
        function saveData(index, field, value) {
            $table.bootstrapTable('updateCell', {
                index: index,       //行索引
                field: field,       //列名
                value: value        //cell值
            })
        }
    }
</script>
</html>

