<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- Basic -->
    	<meta charset="UTF-8" />
		<!-- Mobile Metas -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% include 'a_base_title.html' %}
        <!-- Favicon -->
        {% include 'a_base_sortcut.html' %}
        <!-- Css -->
        {% include 'a_base_css.html' %}
    </head>
    <body>
        {% include 'a_base_sidebar.html' %}
        {% include 'a_base_header.html' %}

        <div class="container-fluid content">
			<div class="row">
				<div class="main ">
					<div class="page-header">
						<div class="pull-left">
                            {% block page_header_left %}
                            {% endblock %}
						</div>
						<div class="pull-right">
							<h2>
                                {% block page_header_right %}
                                    页面
                                {% endblock %}
                            </h2>
						</div>
					</div>

                    <!-- 正式内容 -->
					{% block main_content %}
                    {% endblock %}
                    <!-- 正式内容 End -->
				</div>

            </div>
        </div>

        <!-- Modal Dialog -->
		<div class="modal fade" id="myModal">
			<div class="modal-dialog">
                {% block dialog_content %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title bk-fg-primary">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <p class="bk-fg-danger">Here settings can be configured...</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                {% endblock %}
			</div>
		</div>
        <!-- End Modal Dialog -->

		<div class="clearfix"></div>

        <!-- Js -->
        {% include 'a_base_js.html' %}
    </body>
</html>
