<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'a_base_title.html' %}
        <!-- Favicon -->
        {% include 'a_base_sortcut.html' %}
        <!-- Css -->
        {% include 'a_base_css.html' %}
    </head>

    <body>
        {% include 'a_base_sidebar.html' %}
        {% include 'a_base_header.html' %}

        <div class="container-fluid content">
			<div class="row">
                <!-- 主空间 Start -->
				<div class="main ">
					<!-- 页头 导航栏 -->
					<div class="page-header">
						<div class="pull-left">
						</div>
						<div class="pull-right">
							<h2>设置密码</h2>
						</div>
					</div>
					<!-- 页头 导航栏 End -->
                    <!-- 正式内容 -->
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="center-register">
                                <div class="login-form">
                                    <h4>设置密码</h4>
                                    {% csrf_token %}
                                    <form action="" method="post">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-sm-4 control-label" style="font-size: 25px">手机号码</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly value="{{ request.user.username }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-sm-4 control-label" style="font-size: 25px">用户姓名</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" readonly value="{{ request.user.nick_name }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <div class="row">
                                                <label class="col-sm-4 control-label" style="font-size: 25px">输入旧密码</label>
                                                <div class="col-sm-8">
                                                    <input type="password" class="form-control" name="old_passwd" value="old_passwd" placeholder="密码">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <div class="row">
                                                <label class="col-sm-4 control-label" style="font-size: 25px">输入新密码</label>
                                                <div class="col-sm-8">
                                                    <input type="password" class="form-control" name="new_passwd" placeholder="密码">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <div class="row">
                                                <label class="col-sm-4 control-label" style="font-size: 25px">确认新密码</label>
                                                <div class="col-sm-8">
                                                    <input type="password" class="form-control" name="new_passwd_check" placeholder="密码">
                                                </div>
                                            </div>
                                        </div>
                                        <div><h4 style="color: red">{{ msg }}</h4></div>
                                        <button type="submit" class="btn btn-primary btn-flat m-b-15" name="button" >保存</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 正式内容 End -->
				</div>
				<!-- 主空间 End -->
            </div>
        </div>

        <!-- Js -->
        {% include 'a_base_js.html' %}
    </body>
</html>
