<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- Basic -->
    	<meta charset="UTF-8" />
		<!-- Mobile Metas -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% include 'a_base_title.html' %}
        <!-- Favicon -->
        {% include 'a_base_sortcut.html' %}
        <!-- Css -->
        {% include 'a_base_css.html' %}
    </head>
    <body>
{#        {% include 'a_base_sidebar.html' %}#}
        {% include 'a_base_header.html' %}

        <div class="container-fluid content">
			<div class="row">
				<!-- Main Page -->
				<div class="body-locked">
					<div class="center-locked">
						<div class="panel panel-locked">
							<div class="panel-body">
								<div class="bk-bg-primary bk-fg-info bk-fg-darken text-center">
									<img src="{% static request.user.image %}" alt="" class="img-circle bk-img-120 bk-border-white bk-border-darken bk-border-3x bk-margin-top-10 bk-margin-bottom-10" />
								</div>								
							</div>
							<div class="panel-body bk-padding-left-30 bk-padding-right-30 text-center bk-bg-white">
								<h3 class="bk-margin-off"><strong>{{ request.user.nick_name}}</strong></h3>
								<div class="bk-padding-bottom-30 bk-padding-top-10">
									<p>{{ request.user.mobile }}</p>
								</div>
                                <form atcion="", method="post">
                                    <div class="form-group">
                                        <div class="input-group input-group-icon">
                                            <input id="prependedInput" class="form-control bk-noradius" size="16" type="password" name="password" placeholder="输入登录密码" />
                                            <span class="input-group-addon">
                                                <span class="icon icon-lg">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="err_msg" id="pwd_err">
                                        <span style="font-size: 15px;color: red">{{ err_msg }}</span>
                                    </div>
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary">解锁</button>
                                    </div>
                                </form>
							</div>
						</div>
					</div>
				</div>
				<!-- End Main Page -->
		    </div>
        </div>

        <!-- Js -->
        {% include 'a_base_js.html' %}
    </body>
</html>
