<!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>主页</title>
         {% include 'a_base_css.html' %}
    </head>

    <body ng-app="app" id="app" ng-controller="AppCtrl" class="ng-scope">
    {% include 'a_base_nav.html' %}
    <!-- 左边菜单 -->
    {% include 'a_base_menu.html' %}
    <!-- 右边公共部分 -->
    <div id="dowebok" style="padding-left:70px;margin-top:60px;">
        <div ng-view="" class="work_cont work_cont2">
            <div class="main ng-scope" ng-controller="OverViewCtrl">

                <table class="table table-hover table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th>用户名
                        </th>
                        <th width="260px"><form method="post" action="{{ root_url }}/souname/">
                            {% csrf_token %}
                            <input type="text" placeholder="姓名" name="sousuode"><button type="submit" class="btn btn-primary" style="background-color: #1abc9c;
    border-color: #1abc9c;left: 10px">搜索</button>
                        </form></th>
                        <th>邮箱</th>
                        <th><select name="deptid" class="form-control   " id="selectd" onchange="window.location=this.value;">
                                <option value="" selected="selected">所属部门</option>
                            {% for dd in deptdlist %}
                                    <option value="{{root_url}}/deptselect/{{ dd.deptid }}/" >{{ dd.deptname }}</option>
                            {% endfor %}
                        </select>
                        </th>
                        <th><select name="projectid" class="form-control   " id="select2" onchange="window.location=this.value;">
                            <option value="" selected="select2" >角色</option>
                            {% for pp in jueselist %}
                                    <option value="{{ root_url }}/jueseselect/{{ pp }}/" >{{ pp }}</option>
                            {% endfor %}

                        </select></th>
                        <th><select name="projectid" class="form-control   " id="select2" onchange="window.location=this.value;">
                            <option value="" selected="select2" >所在项目</option>
                            {% for pp in projuctlist %}
                                    <option value="{{ root_url }}/projectselect/{{ pp.id }}/" >{{ pp.name }}</option>
                            {% endfor %}

                        </select>
                        </th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for gg in userlist %}
                    <tr>
                        <td>{{ gg.username }}</td>
                        <td>{{ gg.first_name }}</td>
                    <td>{{ gg.email }}</td>
                        <td>{% for dd in deptdlist %}
                            {% if dd.deptid == gg.deptid %}
                                {{ dd.deptname }}
                            {% endif %}
                            {% endfor %}
                        </td>

                        <td>{{ gg.last_name }}</td>
                        <td>
                            {% for pr in projuctlist %}
                            {% if pr.id == gg.projectid %}
                                {{ pr.name }}
                            {% endif %}
                            {% endfor %}

                        </td>
                    <th><a href="{{root_url}}/upuser/{{ gg.id }}/" class="btn btn-primary" style="background-color: #1abc9c;
    border-color: #1abc9c">修改</a></th>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                    <br>
                    <ul >
                        {% if userlist.has_previous %}
                            <a href="?page={{ userlist.previous_page_number }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}{% if request.GET.cid %}&cid={{ request.GET.cid }}{% endif %}">&laquo;上一页</a>
                            {% else %}
                            &laquo;上一页
                        {% endif %}

                         {{ userlist.number }}/{{ userlist.paginator.num_pages }}
                        {% if userlist.has_next %}
                             <a href="?page={{ userlist.next_page_number }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}{% if request.GET.cid %}&cid={{ request.GET.cid }}{% endif %}">下一页 &raquo;</a>
                            {% else %}
                              下一页 &raquo;
                        {% endif %}
                   </ul>
                </div>
            </div>
        </div>
    </body>
</html>