@media screen and (max-width:768px) {
    .part-partner {
        display: none
    }

    .show-pc {
        display: none
    }

    .show-m {
        display: block
    }

    .s-fluid {
        width: 100%
    }

    .s-title {
        padding-bottom: 30px;
        padding-top: 60px
    }

    .s-title h2 {
        font-size: 30px;
        line-height: 42px
    }

    .s-title h2 img {
        display: none
    }

    .s-title p {
        font-size: 14px
    }

    .part-banner {
        padding-top: 50px
    }

    .part-banner .b-info {
        margin-top: 0;
        width: 100%;
        padding: 0 35px;
        text-align: center
    }

    .part-banner .b-info h1 {
        font-size: 24px;
        margin-top: 40px
    }

    .part-banner .b-info p {
        font-size: 14px;
        margin: 10px auto 30px
    }

    .part-banner .b-info .b-input input {
        float: none;
        width: 100%;
        border: 1px solid #E1E2E6
    }

    .part-banner .b-info .b-input .b-submit {
        float: none;
        width: 100%;
        padding-left: 0;
        margin-top: 20px
    }

    .part-banner .b-bg {
        float: none;
        margin: 0 auto;
        width: 90%;
        height: auto;
        margin-top: 41px;
    }

    .part-banner .b-bg img {
        width: 100%;
        height: auto
    }

    .part-event .event-box {
        margin-top: 120px;
        height: 200px
    }

    .part-event .event-box ul {
        width: 360px;
        left: 50%;
        margin-left: -175px
    }

    .part-event .event-box ul.active {
        padding-left: 2px
    }

    .part-event .event-box ul li {
        width: 165px;
        height: 94px;
        margin: 5px
    }

    .part-event .event-box ul li:first-child {
        margin-left: 5px
    }

    .part-cloud .cloud-box {
        margin: 0;
        padding-bottom: 76px
    }

    .part-cloud .cloud-box .pc-mod-decoration {
        display: none
    }

    .part-cloud .cloud-box .cloud-list .c-item {
        margin: 40px auto 0;
        width: 300px
    }

    .part-cloud .cloud-box .cloud-list .c-item img {
        width: 217px;
        display: block;
        margin: 48px auto 25px
    }

    .part-cloud .cloud-box .cloud-center {
        display: none
    }

    .part-cloud .cloud-box .cloud-left {
        text-align: left;
        width: 100%;
        float: none
    }

    .part-cloud .cloud-box .cloud-left .c-item h1 {
        padding-left: 40px
    }

    .part-cloud .cloud-box .cloud-left .c-item h1 .ico {
        left: 0
    }

    .part-cloud .cloud-box .cloud-right {
        width: 100%;
        float: none
    }

    .part-cloud .cloud-box .cloud-right .c-item h1 {
        padding-left: 40px
    }

    .part-cloud .cloud-box .cloud-right .c-item h1 .ico {
        left: 0
    }

    .part-service {
        padding-bottom: 60px
    }

    .part-service .p-box {
        width: 340px;
        height: 800px;
        padding: 28px 26px;
        margin: 0 auto;
        left: 15px;
        right: 15px
    }

    .part-service .p-box2 {
        height: 583px;
    }

    .part-service .p-box3 {
        height: 428px;
    }

    .part-service .p-box .s-nav {
        width: 100%;
        border-bottom: none
    }

    .part-service .p-box .s-nav li {
        width: 98px;
        height: 97px;
        margin: 23px 23px 40px
    }

    .part-service .p-box .s-nav li.active {
        border-bottom: 3px solid transparent;
        color: #666
    }

    .part-service .p-box .s-nav li:first-child {
        margin-left: 23px
    }

    .part-service .p-box .s-nav li .icon-hover-box {
        display: none
    }

    .part-service .p-box .s-cont {
        display: none
    }

    .part-service .p-box .s-nav li:nth-child(3),.part-service .p-box .s-nav li:nth-child(5),.part-service .p-box .s-nav li:nth-child(7) {
        clear: both;
    }

    .part-start {
        margin-bottom: 0
    }

    .part-start .s-box {
        height: 410px;
        border: none;
        padding: 20px 38px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }

    .s-title02 {
        padding-top: 6px;
    }

    .part-start .s-box .s-title {
        padding-top: 100px;
        padding-bottom: 10px
    }

    .s-title .img_title {
        width: 253px;
        height: 54px;
        margin-left: -35px;
    }

    .part-start .s-box .s-title h2 {
        font-size: 26px;
        line-height: 40px;
        color: #1F5DEA
    }

    .part-start .s-box .s-bg {
        background-size: 100%!important
    }

    .part-start .s-box .s-bg-01 {
        left: 0;
        top: 0;
        width: 112px;
        height: 168px;
        background: url(../images/start-bg-03.png) center no-repeat
    }

    .part-start .s-box .s-bg-02 {
        right: 0;
        width: 142px;
        height: 166px;
        bottom: -40px;
        background: url(../images/start-bg-04.png) center no-repeat
    }

    .part-start .s-box .s-input {
        width: 100%;
        margin: 0 auto
    }

    .part-start .s-box .s-input input {
        float: none;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        border: 1px solid #E1E2E6
    }

    .part-start .s-box .s-input .b-submit {
        float: none;
        width: 100%;
        margin-top: 20px;
        padding: 0 25px;
        text-align: center
    }

    header.part-header {
        line-height: 50px;
        width: 100%;
        z-index: 999999;
        background-color: #fff
    }

    header.part-header nav {
        box-shadow: 0 2px 4px 0 rgba(34,35,40,.08)
    }

    header.part-header nav .logo {
        margin: 0 15px
    }

    header.part-header nav .logo img {
        width: 62px;
        height: 17px;
        vertical-align: middle
    }

    header.part-header nav .btn-m {
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 2px;
        margin-top: 10px;
        margin-right: 10px
    }

    header.part-header nav .btn-list {
        float: right;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
        margin-right: 15px
    }

    header.part-header nav .list-m {
        background-color: #fff;
        padding-bottom: 20px;
        display: none
    }

    header.part-header nav .list-m li {
        height: 34px;
        line-height: 34px;
        border-bottom: 1px solid #ccc;
        margin: 0 20px
    }

    header.part-header nav .list-m li a {
        display: block
    }

    footer.part-footer {
        padding-top: 60px;
        padding-bottom: 34px
    }

    footer.part-footer .foot-m {
        color: #A8ACB9;
        text-align: center
    }

    footer.part-footer .foot-m ul {
        display: flex;
        margin-bottom: 32px
    }

    footer.part-footer .foot-m ul li {
        flex: 1
    }

    footer.part-footer .foot-m h4 {
        height: 21px;
        line-height: 21px;
        font-size: 12px
    }

    footer.part-footer .foot-m h2 {
        color: #999;
        font-size: 36px;
        margin: 10px 0
    }

    footer.part-footer .foot-m h6 {
        height: 21px;
        line-height: 21px;
        font-size: 10px
    }
    .invitation-lion {
        display: none;
    }

    .invitation-lion-zhenji {
        display: none;
    }

    .invitation-lion-x {
        display: none;
    }

    /* 云监控 */
    .s-btn {
        display: none
    }

    .challenge-game {
        width: 340px;
        margin: 0 auto;
    }

    .challenge-game ul {
        flex-direction: column;
    }

    .challenge-game li {
        width: 100%;
        padding: 20px 0;
    }

    .challenge-game .p-pc {
        display: none;
    }

    .challenge-game .p-m {
        display: block;
        width: 70%;
        margin-left: 15%;
        padding-bottom: 30px;
    }

    .example-game ul {
        flex-direction: column;
    }

    .example-game ul>li {
        width: 100%;
        margin-top: 20px;
    }

    .solution-game .img-box img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .solution-game .addService {
        width: 60%;
        margin-left: 20%;
        padding: 30px 0;
    }

    .solution-game .addService p {
        flex-direction: column;
    }

    .solution-game .addService a {
        display: block;
        margin-bottom: 20px;
        text-align: center;
        padding: 3px 5px;
    }

    .advantage-game ul {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .advantage-game ul li {
        width: 100%;
        margin-top: 20px;
    }

    .example-game .bottom .tip {
        margin-bottom: 10px;
        height: 243px;
    }

    .challenge-game li .font_smalltitle02 {
        width: 96%;
        padding-left: 20px;
    }
}